.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid var(--mainColor);
}

.completed {
  text-decoration: line-through;
  color: #9e9e9e; 
}

button {
  margin-left: 0.5rem;
}

button:hover {
  background-color: var(--mainColor);
}

.task-item span {
  overflow: auto;
  word-wrap: break-word;
}

.task-item .text-container {
  flex: 3;
}

.task-item .button-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
