<div class="filter-title">Filters:</div>
<div class="filter-buttons">
  <button 
    [class.active]="filter === 'all'" 
    (click)="setFilter('all')"
  >
    All
  </button>
  <button 
    [class.active]="filter === 'completed'" 
    (click)="setFilter('completed')"
  >
    Completed
  </button>
  <button 
    [class.active]="filter === 'incomplete'" 
    (click)="setFilter('incomplete')"
  >
    Incomplete
  </button>
</div>
<div>
  <app-task-item
    *ngFor="let task of filteredTasks"
    [task]="task"
    (deleteTask)="deleteTask.emit($event)"
    (toggleTask)="toggleTask.emit($event)"
  ></app-task-item>
</div>
